<h1 style="background-color: rgb(63, 63, 167); color: rgb(253, 247, 247);">
  <b>Quizzy!!</b>
</h1>

<button *ngIf="sharedService.isStartPage" (click)="toQuiz()"><b>Start Test</b></button>
&nbsp;
<div class="dropdown">
  <button class="dropbtn"><b>Info</b></button>
  <div class="dropdown-content">
    <table>
      <tr>
        <td><b>Description</b></td><td>:&nbsp;</td><td>Quizzy!! is a simple Angular based Online Test Application</td> 
      </tr>
      <hr>
      <tr>
        <td><b>Version</b></td><td>:&nbsp;</td><td>1.0</td>
      </tr>
      <hr>
      <tr>
        <td><b>Created On</b></td><td>:&nbsp;</td><td>30th May, 2020</td>
      </tr>
      <hr>
      <tr>
        <td><b>Created By</b></td><td>:&nbsp;</td><td><a target="_blank" href="https://www.linkedin.com/in/animesh-sinha-a0a56a163">Animesh Sinha</a></td>
      </tr>
    </table>
    
  </div>
</div>
<!-- <div class="dropdown">
  <span><b>Info</b></span>
  <div class="dropdown-content">
  <p>This is a simple online Test Application using Angular by <b>Animesh Sinha</b></p>
  </div>
</div> -->
<hr>
<router-outlet></router-outlet>